$whiteColor: #fff;
$blackColor: #000;
$darkGrey: #202020;
$brightGrey: #2b2b2b;
$aboutMeColor: #fff2e3;
$transpBlack: rgba(0, 0, 0, 0.7);
$transpWhite: rgba(255, 255, 255, 0.9);

/* ----------------------------
NAVIGATION
---------------------------- */
.logoImage {
  height: 50px;
}

nav {
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: $darkGrey;
}

.nav-link {
  text-transform: uppercase;
  font: {
    family: "Saira Condensed", sans-serif;
    size: 20px;
  }
}

@media (min-width: 992px) {
  .nav-item {
    margin: 0 20px;
    padding: 0 5px;
    border: 2px solid transparent {
      radius: 15px;
    }

    &:hover {
      border: 2px solid $whiteColor;
      transition: border-left 0.15s ease-in, border-top 0.3s ease-in,
        border-right 0.6s ease-in, border-bottom 0.9s ease-in;
    }
  }

  nav {
    background-color: transparent;
  }
}

/* ----------------------------
HEADER PHOTO
---------------------------- */
.headerPhoto {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    height: 100vh;
    width: 100%;
    object: {
      fit: cover;
      position: 80%;
    }
  }
}

.headerOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $whiteColor;
  text-align: center;
  width: 100%;
}

.headerTextTop {
  display: block;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: -15px;
  font: {
    size: 60px;
    family: "Great Vibes", cursive;
  }
}

.headerBar {
  width: 350px;
  height: 3px;
  background-color: $whiteColor;
  border-bottom: 1px solid $blackColor;
  display: block;
  margin: 0 auto;
}

.headerTextBottom {
  font: {
    family: "Roboto", sans-serif;
    size: 22px;
  }
  text: {
    shadow: 2px 2px 0px $transpBlack;
    transform: uppercase;
  }
  padding: 0 20px;
}

@media (min-width: 769px) {
  .headerTextTop {
    font-size: 80px;
    margin-bottom: -20px;
  }

  .headerTextBottom {
    font-size: 32px;
  }

  .headerBar {
    width: 500px;
  }
}

/* ----------------------------
ABOUT ME
---------------------------- */
.aboutMe {
  background-color: $aboutMeColor;
}

.aboutMePhoto {
  position: relative;

  img {
    width: 100%;
  }
}

.aboutMeText {
  position: relative;
  line-height: 200%;
  padding-bottom: 20px;

  p {
    padding: 0 20px;
  }

  h1 {
    margin-left: 20px;
    font: {
      family: "Saira Condensed", sans-serif;
      weight: 400;
    }
  }
}

/* ----------------------
SERVICES
---------------------- */
.services {
  line-height: 180%;
  font-family: "Saira Condensed", sans-serif;
  background-color: $whiteColor;

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  li {
    background: url(../img/dot.png) no-repeat left 5px;
    padding-left: 40px;
    margin: 10px 0;
    font-size: 18px;
  }
}

.servicesBar {
  display: block;
  height: 2px;
  background-color: $darkGrey;
  opacity: 0.1;
  margin: 20px 0;
}

/* ----------------------
CONTACT
---------------------- */
.contact {
  background-color: $brightGrey;
  padding: 50px 0;
  color: $whiteColor;
  font: {
    family: "Saira Condensed", sans-serif;
    size: 20px;
  }

  a {
    text-decoration: none;
    color: $whiteColor;
  }

  h1 {
    font-size: 30px;
    margin: {
      bottom: 25px;
      top: 50px;
    }
  }
}

.contactLeft {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 20px 0;
  }
}

#name,
#lastName,
#phone,
#email {
  padding: 10px;
  background: $transpWhite;
  margin-bottom: 8px;
  border: 2px solid $whiteColor {
    radius: 2px;
  }
}
#name {
  width: calc(50% - 4px);
  margin-right: 8px;
}

#lastName {
  width: calc(50% - 4px);
}

#phone,
#email {
  width: 100%;
}

#content {
  width: 100%;
  background: $transpWhite;
  padding: 10px;
  border: 2px solid $whiteColor {
    radius: 2px;
  }
}

#name,
#lastName,
#phone,
#email,
#content {
  &::placeholder {
    color: $transpBlack;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

#send {
  display: block;
  color: $whiteColor;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 30px;
  border: 2px solid $whiteColor {
    radius: 12px;
  }
  margin: {
    top: 5px;
    left: auto;
  }
}

@media (min-width: 992px) {
  .contact {
    padding: 100px 0;

    h1 {
      margin-top: 0;
    }
  }
}

/* ----------------------
FOOTER
---------------------- */
footer {
  background-color: $brightGrey;
  text-align: center;
  color: $whiteColor;
  font-size: 20px;
  border-top: 2px solid $whiteColor;
}
